<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Bg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div id="dropzone" class="dropzone">
        <h1>Delete Background</h1>
        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" />
            <input type="submit" value="Submit">
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>